* {
	margin: 0;
}

body {
	width: 300px;
	border-radius: 10px;
	background-color: #073b4c;
}

.container {
	padding: 15px 15px 0 15px;
}

.button-container {
	display: flex;
}

.tab-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 10px;
	background-color: #ffd166;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
	height: 25px;
}

.tab-title {
	margin-right: 10px;
	font-size: 14px;
	font-weight: 600;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.mute-toggle {
	border: none;
	width: 40px;
	height: 25px;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	color: white;
	min-width: 40px;
	min-height: 25px;
	background-color: #06d6a0;
}

.play-toggle {
	border: none;
	width: 40px;
	height: 25px;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	color: white;
	min-width: 40px;
	min-height: 25px;
	background-color: #06d6a0;
	margin-right: 10px;
}

.play-toggle:hover {
	cursor: pointer;
}

.play-toggle:active {
	box-shadow: none;
}

.mute-toggle:hover {
	cursor: pointer;
}

.mute-toggle:active {
	box-shadow: none;
}

.active {
	background-color: #06d6a0;
}

.inactive {
	background-color: #ef476f;
}
