* {
	margin: 0;
	padding: 0;
}

body {
	width: 300px;
	border-radius: 10px;
	background-color: #073b4c;
}

::-webkit-scrollbar {
	width: 3px;
}
::-webkit-scrollbar-thumb {
	background-color: #ff1e56;
}

::-webkit-scrollbar-track {
	background-color: rgba(0, 0, 0, 0);
}

.container {
	padding: 10px;
}

.tabs {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.tab-item {
	display: flex;
	flex-direction: column;
	gap: 4px;
	padding: 8px 10px;
	border-radius: 6px;
	background-color: #2e6d81;
	color: white;
	opacity: 80%;
}

.tab-item:hover {
	opacity: 100%;
}

.youtube-item {
	background-color: #ff1e56;
}

.button-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.tab-title {
	margin-right: 10px;
	font-size: 10px;
	font-weight: 600;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.youtube-controller {
	display: flex;
	gap: 8px;
}

.control {
	cursor: pointer;
	color: #ff1e56;
	border-radius: 4px;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 2px 10px;
}

.control:active {
	opacity: 50%;
}

.visible {
	visibility: visible;
}

.invisible {
	visibility: hidden;
}
